*{
    margin: 0;
    padding: 0;
}
.story-body{
    width: 100vw;
    height: auto;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 1, 59);
}
.Story{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(0, 0, 0,0.6);
}
.angela-title{
    color: rgb(255, 65, 128);
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 30px;
    background-color: rgb(0, 0, 0,0.6);
    width: 40%;
    height: auto;
    text-align: center;
    font-stretch: inherit;
    z-index: 1;
    box-shadow: 0px 10px 15px black;
}
.angelaimg{
    position: absolute;
    left: 40%;
    padding-left: 40px;
}
.title{
    text-shadow: 0px 2px rgb(128, 1, 50);
    margin-bottom: 20px;
}
.storymain{
    font-size: 8.6px;
    text-shadow: 0px 1px rgb(122, 1, 51);
    text-align: justify;
}
.xtemdeg{
    position: absolute;
    color: rgb(255, 0, 128);
    text-shadow: 0px 1px rgb(117, 1, 40);
    font-size: 30px;
    background: none;
    left: 95%;
    border: none;
    z-index: 1;
}
@media only screen and (max-width: 500px) {
    .storymain{
        font-size: 6.5px;
    }
    .angela-title{
        font-size: 25px;
    }
    .angelaimg{
        left: 25%;
    }
}
